<html>
<head>
	<title>YourAnime-videos</title>
	<link rel="stylesheet" href="video.css">
	<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
	
</head>
<body>
	
	<header>
		<div class="logo">
			<a href="C:/Users/AkarshanAndro/OneDrive/Desktop/web%20development/index.html">Your-Anime</a>
			
		<div class="navbar">
			<ul>
				<li><a href="view.html">Photos</a></li>

				<li><a href="waifu.html">Waifus</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Trending</a></li>
				
			</ul>
		</div>
		</div>
	</header>
	<div class="Vtext">
		<h1>AMVs</h1>
		
	</div>
	<div class="border">
	 <h2>______________</h2>
	</div>
	<div class="vdeo">
	
		
		<iframe width="560" height="315" src="https://www.youtube.com/embed/Z1NAD3ITKDs" title="YouTube video player" frameborder="0" allow="youtube.com";"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
			
		<iframe width="560" height="315" src="https://www.youtube.com/embed/XShUc-u2i24" title="YouTube video player" frameborder="0" allow="youtube.com";"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
		
		<iframe width="560" height="315" src="https://www.youtube.com/embed/YGZLvKAFeYI" title="YouTube video player" frameborder="0" allow="youtube.com";"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
		
		<iframe width="560" height="315" src="https://www.youtube.com/embed/RRAhsIBgqhM" title="YouTube video player" frameborder="0" allow="youtube.com";"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
		
		
		
		
		
	</div>
	
	<br>
	<br>
	<br>
	<br>
		<div class="content">
			<button type="button" class="btn" > View More </button>
					
		</div>
		
	<br>
	<div class="border">
	 
	 
	 <h2>_______________________________________________________________</h2>
	</div>
	<br>
	<br>
	<div class="Vtext">
		<h1>Videos-clip</h1>
		</div>
		<div class="vdeo">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/0lcLurBJuPs" title="YouTube video player" frameborder="0" allow="youtube.com";"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>  </iframe>
			
			<iframe width="560" height="315" src="https://www.youtube.com/embed/hGPqn_hUG10?start=1" title="YouTube video player" frameborder="0" allow="youtube.com";"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
			<iframe width="560" height="315" src="https://www.youtube.com/embed/mXjLzAV0ZNI" title="YouTube video player" frameborder="0" allow="youtube.com";"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
			<iframe width="560" height="315" src="https://www.youtube.com/embed/81mvqIKoQe0" title="YouTube video player" frameborder="0" allow="youtube.com";"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
			<button type="button" class="btn" > View More </button>
		
		</div>
		
	
	
</body>

</html>
