<html>
<head>
	<title>YourAnime-Waifus</title>
	<link rel="stylesheet" href="waifu.css">
	<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
	
</head>
<body>
	
	<header>
		<div class="logo">
			<a href="index.html">Your-Anime</a>
			
		<div class="navbar">
			<ul>
				<li><a href="view.html">Photos</a></li>

				<li><a href="videos.html">Videos </a></li>
				<li><a href="#">News </a></li>
				<li><a href="#">Trending</a></li>
				
			</ul>
		</div>
		</div>
	</header>
	<div class="container">
	
		<div class="card">
		
			<div class="imgbx">
			
				<img src="images/miku2.jpg" class="rounded float-end" alt="Miku nakano" width="300" height="300">
			</div>		
			<div class="content">
				<h2>1. Miku Nakano</h2>
				<p>Miku Nakano (中なか野の 三み玖く, Nakano Miku?) is the third sister of the Nakano Quintuplets, and one of the main characters of the 5-toubun no Hanayome series. She has a timid personality.</p>
			</div>	
		</div>
	
		<div class="card">
		
			<div class="imgbx">
			
				<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a6fca626-89e3-49f8-b921-8acea26cffb3/d9rt810-3576f312-5f2f-4e11-b643-4e9dd19bbf43.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E2ZmNhNjI2LTg5ZTMtNDlmOC1iOTIxLThhY2VhMjZjZmZiM1wvZDlydDgxMC0zNTc2ZjMxMi01ZjJmLTRlMTEtYjY0My00ZTlkZDE5YmJmNDMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.XYZai_f-TPvVBIgODZZQUC5y4MYESUy6NcKZ-mJA_Gk" class="rounded float-end" alt="Asuna Yukki" width="250" height="300">
			</div>		
			<div class="content">
				<h2>2. Asuna Yukki</h2>
			</div>	
		</div><div class="card">
		
			<div class="imgbx">
			
				<img src="https://64.media.tumblr.com/408db9a627d2de6d913434f39615c939/d033b51ac106fc03-c0/s400x600/07653e2739addfad6dcbe9a8aff480e0ee1eff84.jpg" class="rounded float-end" alt="Megumin" width="300" height="300">
			</div>		
			<div class="content">
				<h2>3. Megumin</h2>
			</div>	
		</div><div class="card">
		
			<div class="imgbx">
			
				<img src="https://p16-amd-va.tiktokcdn.com/tos-maliva-avt-0068/dc1790a294b58550bcd2956ede9de80d~c5_300x300.jpeg?x-expires=1624057800&x-signature=mF1iRdqpzcZbJ85Iaz0mLwUHYCK%3D" class="rounded float-end" alt="Mai Sakurajima" width="300" height="300">
			</div>		
			<div class="content">
				<h2>4. Mai Sakurajima</h2>
			</div>	
		</div>
	</div>	
</body>
</html>
